body{
    height: 100%;
    position: fixed;
    width: 100%;
    display: table;
}
input{
    background-color: rgba(255, 255, 255, 0.62) !important;
}
.navbar{
    z-index: 1;
    margin: 0;
    border-radius: 0;
    position: absolute;
    width: 100%;
    box-shadow: 1px 1px 7px #5a5a5a;
}
.navbar-inverse .text-center label{
    color: #fff;
    font-weight: 100;
    font-family: monospace;
    font-size: x-large;
}
.navbar-inverse .text-center label span{
    color: #6d6d6d;
}
.panel{
    margin-top: 20px;
}
.row{
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 85px;
    left: 0;
    top: 0;
    margin: 0;
}
.no_padding{
    padding: 0;
}
.scroll{
    overflow: scroll;
}
.heigth_full{
    height: 100%;
}
[data-chat]{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}  
::-webkit-scrollbar-thumb {
    background: #00000054; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
#chats li{
    list-style: none;
    border-bottom: 1px solid #bbb;
    padding: 14px;
    margin: 0;
    font-weight: 700;
    background-color: #fffae4;
}
#chats{
    padding: 0;
}
#chat{
    position: fixed;
    height: 100%;
    width: 100%;
}
.bg_cat{
    background-image: url(bg.jpg);  
}
#message_place{
    position: relative;
    height: inherit;
    padding: 0;
    margin: 0;
    display: inline-table;
    width: 100%;
    padding-bottom: 35px;
}
#message_create{
    position: sticky;
    bottom: 6px;
}
#message_create{
    position: fixed;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 8px;
}
#message_place li.me{
    text-align: end;
    
}
#message_place li.me span{
    border-radius: 6px 6px 0px 6px;
    box-shadow: -2px 2px 6px 0px #8c898985;
    background-color: #000;
    color: #fff;
}
#message_place li{
    list-style: none;
    width: 100%;
    padding: 5px 0px;
}
#message_place li span{
    list-style: none;
    display: inline-block;
    padding: 6px 8px;
    background-color: #ccc;
    border-radius: 6px 6px 6px 0px;
    box-shadow: 1px 2px 6px 0px #8c898985;
}
#message_place li span label{
    text-shadow: 1px 1px 4px #696969;
}

.spinner {
    width: 100px;
    height: 100px;
  
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }